<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/" {% if page.url == "/" %}style="color: blue;"{% endif %}>Home</a></li>
		        	<li><a href="/about" {% if page.url == "/about" %}style="color: blue;"{% endif %}>About</a></li>
	        		<li><a href="/cv" {% if page.url == "/cv" %}style="color: blue;"{% endif %}>CV</a></li>
	        		<li><a href="/blog" {% if page.url == "/blog" %}style="color: blue;"{% endif %}>Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:prashantkapoor21@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/prashantkapoor">github.com/prashantkapoor</a></li>
				</ul>
			</footer>
		</body>
	</html>
